apiVersion: v1
kind: Secret
metadata:
  name: database-credentials-secret
  namespace: database
type: Opaque
stringData:
  gitea_db_name: "{{ gitea_db_name }}"
  nextcloud_db_name: "{{ nextcloud_db_name }}"
  vaultwarden_db_name: "{{ vaultwarden_db_name }}"
  username: "{{ mysql_user_name }}"
  password: "{{ mysql_user_password }}"
