apiVersion: v1
kind: Secret
metadata:
  name: democratic-csi-config-secret
  namespace: operations
type: Opaque
stringData:
  driver-config-file.yaml: |-
    driver: freenas-nfs
    instance_id:
    httpConnection:
      protocol: https
      allowInsecure: true
      host: {{ truenas_host }}
      port: 443
      apiVersion: 2
      apiKey:  "{{ truenas_apikey }}"
    sshConnection:
      host: {{ truenas_host }}
      port: 22
      username: {{ truenas_ssh_user }}
      password: {{ truenas_ssh_password }}
    zfs:
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetParentName: rust2/k8s/nfs/vols
      detachedSnapshotsDatasetParentName: rust2/k8s/nfs/snaps
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: {{ truenas_dataset_user }}
      datasetPermissionsGroup: {{ truenas_dataset_group }}
    nfs:
      shareHost: {{ truenas_host }}
      shareMaprootUser: {{ truenas_share_user }}
      shareMaprootGroup: {{ truenas_share_group }}
      shareMapallUser: ""
      shareMapallGroup: ""
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
