apiVersion: v1
kind: Secret
metadata:
  name: gitea-credential-files-secret
  namespace: database
type: Opaque
stringData:
  db-name: "{{ gitea_db_name }}"
  username: "{{ gitea_db_username }}"
  password: "{{ mysql_user_password }}"
