apiVersion: v1
kind: Secret
metadata:
  name: gitea-database-secret
  namespace: applications
type: Opaque
stringData:
  name: {{ gitea_db_name }}
  host: mysql.database.svc.cluster.local
  user: {{ mysql_user_name }}
  password: {{ mysql_user_password }}
