apiVersion: v1
kind: Secret
metadata:
  name: gitea-database-env-secret
  namespace: applications
type: Opaque
stringData:
  database: |
    DB_TYPE=mysql
    HOST={{ gitea_db_host }}
    NAME={{ gitea_db_name }}
    USER={{ mysql_user_name }}
    PASSWD={{ mysql_user_password }}
