apiVersion: v1
kind: Secret
metadata:
  name: minio-access-secret
  namespace: operations
type: Opaque
stringData:
  rootUser: {{ minio_root_user }}
  rootPassword:  "{{ minio_root_password }}"
  minioPassword: "{{ minio_user_password }}"
