apiVersion: v1
kind: Secret
metadata:
  name: mysql-auth-secret
  namespace: database
type: Opaque
stringData:
  mysql-root-password: "{{ mysql_root_password }}"
  mysql-password: "{{ mysql_user_password }}"
  mysql-replication-password:
  password: "{{ mysql_user_password }}"
  username: "{{ mysql_user_name }}"
  host: mysql.database.svc.cluster.local
