apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  namespace: applications
type: Opaque
stringData:
  admin_username: "{{ nextcloud_admin_username }}"
  admin_password: "{{ nextcloud_admin_password }}"
  db_username: "{{ mysql_user_name }}"
  db_password: "{{ mysql_user_password }}"
  
