apiVersion: v1
kind: Secret
metadata:
  name: config
  namespace: vaultwarden
type: Opaque  
stringData:
  DATABASE_URL: "mysql://{{ mysql_user_name }}:{{ mysql_user_password|urlencode }}@{{ gitea_db_host }}/mysql_vaultwarden"

