apiVersion: v1
stringData:
  name: mysql_vaultwarden
  user: {{ mysql_user_name }}
  password: {{ mysql_user_password }}
  host: mysql.database.svc.cluster.local
kind: Secret
metadata:
  name: db-secret
  namespace: applications
type: Opaque
